In [2]:
from datetime import date, timedelta
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from keras.layers.core import Dense, Dropout, Activation

Using TensorFlow backend.

In [3]:
from keras.models import Sequential
from keras.layers.advanced_activations import PReLU
from keras.layers.normalization import BatchNormalization
from keras.layers import LSTM
from keras import callbacks
from keras import optimizers
from keras.callbacks import ModelCheckpoint, EarlyStopping, ReduceLROnPlateau
import gc

In [10]:
dt_train = pd.read_csv(
    './input/train.csv', usecols = [1,2,3,4,5],
    dtype = {'onpromotion':bool},
    converters = {'unit_sales':lambda u:np.log1p(
        float(u)) if float(u) > 0 else 0},parse_dates = ['date'], 
    skiprows = range(1, 66458909)
)

In [11]:
dt_test = pd.read_csv(
    './input/test.csv', usecols = [0,1,2,3,4],
    dtype = {'onpromotion':bool},
    parse_dates = ['date'], 
).set_index(['store_nbr', 'item_nbr','date'])

In [12]:
dt_train.head()

        date  store_nbr  item_nbr  unit_sales  onpromotion
0 2016-01-01         25    105574    2.564949        False
1 2016-01-01         25    105575    2.302585        False
2 2016-01-01         25    105857    1.386294        False
3 2016-01-01         25    108634    1.386294        False
4 2016-01-01         25    108701    1.098612         True

In [17]:
items = pd.read_csv(
    './input/items.csv',
).set_index('item_nbr')

In [18]:
dt_test.head()

                                      id  onpromotion
store_nbr item_nbr date
1         96995    2017-08-16  125497040        False
          99197    2017-08-16  125497041        False
          103501   2017-08-16  125497042        False
          103520   2017-08-16  125497043        False
          103665   2017-08-16  125497044        False

In [19]:
items.head()

                family  class  perishable
item_nbr
96995        GROCERY I   1093           0
99197        GROCERY I   1067           0
103501        CLEANING   3008           0
103520       GROCERY I   1028           0
103665    BREAD/BAKERY   2712           1

In [21]:
stores = pd.read_csv("./input/stores.csv",).set_index('store_nbr')

In [28]:
le = LabelEncoder()
items['family'] = le.fit_transform(items['family'].values)

In [32]:
stores.head()

                    city                           state type  cluster
store_nbr
1                  Quito                       Pichincha    D       13
2                  Quito                       Pichincha    D       13
3                  Quito                       Pichincha    D        8
4                  Quito                       Pichincha    D        9
5          Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [33]:
stores['city'] = le.fit_transform(stores['city'])

In [35]:
stores['state'] = le.fit_transform(stores['state'])

In [36]:
stores['type'] = le.fit_transform(stores['type'])

In [40]:
df_2017 = dt_train.loc[dt_train.date >= pd.datetime(2017,1,1)]
del dt_train

In [43]:
df_2017.head()

               date  store_nbr  item_nbr  unit_sales  onpromotion
35229871 2017-01-01         25     99197    0.693147        False
35229872 2017-01-01         25    103665    2.079442        False
35229873 2017-01-01         25    105574    0.693147        False
35229874 2017-01-01         25    105857    1.609438        False
35229875 2017-01-01         25    106716    1.098612        False

In [41]:
promo_2017_train = df_2017.set_index(
    ['store_nbr', 'item_nbr', 'date'])[['onpromotion']].unstack(
      level = -1).fillna(False)
promo_2017_train.head()

                   onpromotion                                              \
date                2017-01-01 2017-01-02 2017-01-03 2017-01-04 2017-01-05
store_nbr item_nbr
1         96995          False      False      False      False      False
          99197          False      False      False      False      False
          103520         False      False      False      False      False
          103665         False      False      False      False      False
          105574         False      False       True      False      False

                                                                           \
date               2017-01-06 2017-01-07 2017-01-08 2017-01-09 2017-01-10
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574         True      False      False      False      False

                      ...                                                  \
date                  ...     2017-08-06 2017-08-07 2017-08-08 2017-08-09
store_nbr item_nbr    ...
1         96995       ...          False      False      False      False
          99197       ...          False      False      False      False
          103520      ...          False      False      False      False
          103665      ...          False      False      False      False
          105574      ...          False      False      False      False

                                                                           \
date               2017-08-10 2017-08-11 2017-08-12 2017-08-13 2017-08-14
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574        False      False      False      False      False


date               2017-08-15
store_nbr item_nbr
1         96995         False
          99197         False
          103520        False
          103665        False
          105574        False

[5 rows x 227 columns]

In [48]:
promo_2017_train.head()

date                2017-01-01  2017-01-02  2017-01-03  2017-01-04  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False        True       False

date                2017-01-05  2017-01-06  2017-01-07  2017-01-08  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False        True       False       False

date                2017-01-09  2017-01-10     ...      2017-08-06  \
store_nbr item_nbr                             ...
1         96995          False       False     ...           False
          99197          False       False     ...           False
          103520         False       False     ...           False
          103665         False       False     ...           False
          105574         False       False     ...           False

date                2017-08-07  2017-08-08  2017-08-09  2017-08-10  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False       False       False

date                2017-08-11  2017-08-12  2017-08-13  2017-08-14  2017-08-15
store_nbr item_nbr
1         96995          False       False       False       False       False
          99197          False       False       False       False       False
          103520         False       False       False       False       False
          103665         False       False       False       False       False
          105574         False       False       False       False       False

[5 rows x 227 columns]

In [50]:
promo_2017_test = dt_test[['onpromotion']].unstack(level = -1).fillna(False)
promo_2017_test.columns = promo_2017_test.columns.get_level_values(1)
promo_2017_test = promo_2017_test.reindex(promo_2017_train.index).fillna(False)
promo_2017 = pd.concat([promo_2017_train,promo_2017_test], axis = 1)
del promo_2017_test, promo_2017_train

In [51]:
promo_2017.head()

date                2017-01-01  2017-01-02  2017-01-03  2017-01-04  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False        True       False

date                2017-01-05  2017-01-06  2017-01-07  2017-01-08  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False        True       False       False

date                2017-01-09  2017-01-10     ...      2017-08-22  \
store_nbr item_nbr                             ...
1         96995          False       False     ...           False
          99197          False       False     ...           False
          103520         False       False     ...           False
          103665         False       False     ...           False
          105574         False       False     ...           False

date                2017-08-23  2017-08-24  2017-08-25  2017-08-26  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False       False       False

date                2017-08-27  2017-08-28  2017-08-29  2017-08-30  2017-08-31
store_nbr item_nbr
1         96995          False       False       False       False       False
          99197          False       False       False       False       False
          103520         False       False       False       False       False
          103665         False       False       False       False       False
          105574         False       False       False       False       False

[5 rows x 243 columns]

In [53]:
df_2017 = df_2017.set_index(
    ['store_nbr', 'item_nbr', 'date'])[['unit_sales']].unstack(level = -1).fillna(0)
df_2017.columns = df_2017.columns.get_level_values(1)

In [57]:
items = items.reindex(df_2017.index.get_level_values(1))
items.head()

          family  class  perishable
item_nbr
96995         12   1093           0
99197         12   1067           0
103520        12   1028           0
103665         5   2712           1
105574        12   1045           0

In [71]:
stores = stores.reindex(df_2017.index.get_level_values(0))

In [73]:
df_2017_item = df_2017.groupby('item_nbr')[df_2017.columns].sum()

date,2017-01-01 00:00:00,2017-01-02 00:00:00,2017-01-03 00:00:00,2017-01-04 00:00:00,2017-01-05 00:00:00,2017-01-06 00:00:00,2017-01-07 00:00:00,2017-01-08 00:00:00,2017-01-09 00:00:00,2017-01-10 00:00:00,...,2017-08-06 00:00:00,2017-08-07 00:00:00,2017-08-08 00:00:00,2017-08-09 00:00:00,2017-08-10 00:00:00,2017-08-11 00:00:00,2017-08-12 00:00:00,2017-08-13 00:00:00,2017-08-14 00:00:00,2017-08-15 00:00:00
item_nbr,,,,,,,,,,,,,,,,,,,,,
96995,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.662960,7.454720,2.484907,5.950643,5.545177,8.841014,7.742402,4.969813,7.167038,7.742402
99197,0.693147,17.422746,16.604036,20.569303,16.203025,16.278613,14.775909,17.317386,14.986630,15.833927,...,3.178054,4.969813,3.178054,4.969813,2.079442,2.197225,1.386294,2.079442,0.000000,0.000000
103501,0.000000,55.868320,54.627085,42.810313,39.555298,35.717635,47.208504,47.542538,40.189274,39.200893,...,38.578235,33.531460,35.296421,35.584104,26.270815,32.776619,34.416498,36.546914,34.773173,35.512841
103520,0.000000,38.875486,35.822995,34.979211,42.252967,51.397412,49.505990,33.846832,33.336007,31.741073,...,35.630624,32.567752,47.213872,41.198030,43.569852,48.697330,47.015385,39.070042,33.798042,40.030669
103665,2.079442,56.225402,40.233610,46.138063,38.100507,49.690810,54.725492,54.286513,39.602739,35.899957,...,50.919628,41.262812,34.711732,34.095546,48.162787,50.980653,39.807856,39.016553,34.262348,35.741351
105574,0.693147,70.142931,63.514249,66.508136,58.893794,58.496699,64.120311,62.738020,52.339193,52.750445,...,64.085051,62.523430,56.676889,61.166593,53.064269,56.125482,55.694330,59.669536,52.609438,59.179911
105575,0.000000,83.165858,75.825866,75.967750,67.376421,69.853076,75.296978,78.294557,66.834544,63.415949,...,90.050200,81.337379,79.712666,75.419406,72.887349,82.729443,81.833672,82.940719,77.896032,74.148313
105576,0.000000,82.650182,77.060927,70.101323,68.221400,67.894571,70.846216,74.863075,64.082124,65.187994,...,81.314912,73.518898,75.120179,71.361467,69.422361,73.010881,82.269621,75.295921,69.057076,73.731125
105577,0.000000,38.688092,36.132196,34.255616,35.812688,35.879435,36.040408,35.079988,28.680309,23.823189,...,37.354038,32.093246,28.086291,25.580533,24.130830,26.230816,25.384378,30.639812,27.878652,26.107993
105693,0.000000,64.147123,45.207877,44.192405,35.376708,37.784425,46.772039,49.916807,31.805612,38.972650,...,46.284498,30.252744,30.879980,26.106284,24.995249,28.663926,23.580784,25.309729,24.164116,24.512823
105737,0.000000,48.785871,47.007592,45.761099,38.429766,48.995149,46.512741,46.067346,36.162321,37.776874,...,43.714364,44.538950,40.728682,46.575522,36.646348,40.860050,38.522779,43.091112,39.193352,36.999147
105857,1.609438,71.097212,73.811825,72.019935,70.487648,70.567225,79.642064,62.280496,62.101122,56.282296,...,68.673829,64.437668,58.687338,60.616597,62.816026,73.310438,60.396967,68.209179,66.031999,62.246053
106716,1.098612,100.849384,86.055522,88.573779,79.683931,76.648056,91.904022,87.777127,71.829308,74.287047,...,81.138269,67.477888,66.608740,68.905418,64.753740,74.728021,72.915351,71.735655,69.662607,77.539819
108079,0.000000,38.129677,28.327454,22.587303,33.836263,37.956925,32.428394,29.164701,27.082659,33.938298,...,44.368548,40.651081,41.889820,43.648285,48.843512,45.081897,43.718407,46.715052,38.285429,35.695162
108634,0.000000,30.371106,34.471215,31.835011,24.756357,18.415998,28.873830,31.864783,26.351771,22.636094,...,0.693147,0.693147,0.000000,0.000000,0.693147,0.693147,0.000000,0.000000,0.000000,0.000000
108696,0.000000,73.012711,62.445313,56.471632,53.088093,48.454834,61.951321,65.955210,59.171239,54.334019,...,60.579769,48.746348,47.700564,48.414102,43.054572,47.680361,45.896672,47.577602,49.289571,56.870499
108698,1.098612,59.779696,51.495403,43.529777,38.349968,45.385006,47.729254,51.476385,48.779076,34.971243,...,53.222213,45.616770,39.658057,35.448783,28.745341,37.718514,37.455906,45.195455,46.518454,43.216919
108701,0.000000,49.777919,48.484567,38.164320,33.030204,37.207208,50.129444,43.372781,45.108451,38.141745,...,55.060759,44.685873,45.950226,50.509222,43.013750,48.840186,50.592712,49.910732,41.659287,41.015952
108786,0.693147,111.056555,92.450625,79.707602,81.393074,82.306870,96.307440,93.629402,79.144500,80.473012,...,86.753266,80.030957,78.873447,75.909953,70.603488,77.787426,75.091372,74.144434,66.908037,64.585442
108797,0.693147,98.175445,92.550977,84.843170,74.462190,68.491409,83.213004,82.070554,62.960127,66.794311,...,103.993906,92.881788,90.943006,88.697064,97.685023,102.928507,98.060497,111.635940,105.866547,101.186879
108831,0.000000,82.193267,66.536836,63.516316,55.492875,63.103410,63.585600,61.555189,37.085418,25.676884,...,70.911323,60.135306,39.823303,43.041656,39.388215,62.971493,47.276351,57.843245,48.808069,41.422319
108833,0.000000,39.496645,24.774706,29.446685,21.160416,18.768218,22.137919,32.375209,27.192474,22.733486,...,31.319070,29.736551,33.510360,25.034470,19.109145,25.282931,19.632393,22.846815,24.866172,24.566067
108862,0.693147,17.722851,20.033404,15.132583,17.665692,18.036850,15.351273,14.937839,8.841014,14.658125,...,24.646873,19.514610,17.818161,14.321653,14.139332,13.782657,10.920456,15.404517,13.746289,11.613603
108952,1.098612,79.849330,69.844410,68.568941,51.738110,52.799312,73.848417,64.228646,65.239097,55.948865,...,68.734944,47.068630,48.603248,51.243261,43.005782,45.482908,47.534179,55.846349,56.828076,45.023285
111223,0.000000,143.404852,118.300412,111.905443,108.877705,98.609368,120.384234,132.744438,115.852528,100.107120,...,121.464605,106.083297,101.999575,97.985193,77.234199,99.207042,102.994943,112.345946,108.509349,95.364914
111397,0.000000,73.013249,69.833474,66.714967,63.308923,63.617713,75.012151,88.248383,68.673679,65.712194,...,72.118276,52.897677,61.457259,59.366700,49.320823,58.974982,50.229488,62.674715,53.536449,65.447747
112830,0.000000,46.497100,41.632326,41.423240,34.252526,43.652339,52.339599,42.489189,37.886689,33.834410,...,45.451640,33.084692,39.247909,37.195535,34.868484,36.278581,43.258512,33.358708,34.075572,34.408530
114778,0.000000,2.772589,1.098612,0.000000,0.000000,0.000000,0.000000,0.693147,0.000000,0.000000,...,66.786138,57.179180,56.517677,59.619851,48.316938,48.602350,54.452254,68.133609,57.812546,72.250414
114790,1.098612,145.170005,129.540998,124.320490,107.727048,101.634156,127.227625,118.800151,103.199527,107.861984,...,127.557168,118.087246,108.545072,106.824176,102.550797,114.539649,109.435685,114.606373,111.477600,109.673174
114799,0.000000,85.760421,76.919963,58.857585,56.043754,57.576896,68.697676,68.571302,54.053757,57.882596,...,66.127612,54.961059,59.648136,52.139349,37.022285,50.694214,50.072330,49.643237,46.804664,57.461714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2116238,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.693147,0.000000,0.000000,0.000000,0.000000,2.995732,1.386294,0.000000,0.000000,0.693147
2116416,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,86.640781,74.287623,68.049195,72.974444,74.177744,81.750660,86.949159,81.492926,73.148728,67.939281
2118662,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.708050,2.708050,2.079442,2.484907,2.484907,4.276666,1.791759,1.945910,4.605170,2.484907
2120723,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.693147,0.693147,1.386294,2.079442,0.693147,0.693147,2.302585,6.356108,3.465736,1.098612
2121610,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.386294,1.386294,0.693147,1.386294,0.693147,0.000000,1.386294,1.386294
2121690,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,2.197225,0.000000,1.386294,2.772589,3.465736,3.465736,0.693147
2122188,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,52.064760,45.105843,40.318351,44.802412,45.449866,44.019653,49.010897,49.569285,45.635917,47.658141
2122676,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.806662,0.693147,3.583519,4.969813,5.662960,10.093777,6.761573,11.654425,8.147867,8.553332
2122818,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.693147,0.000000,1.386294,0.000000
2122868,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,2.397895,5.480639,10.152299,9.670294,21.536991,22.840090,22.372357
2122947,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.693147,0.000000,0.000000,0.000000,0.000000,2.079442,0.000000,0.000000,0.000000,0.000000
2123036,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.693147,0.693147,0.000000,3.871201,1.098612,2.484907,0.693147,2.079442,1.791759,7.333023
2123209,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.693147,0.000000,0.000000,0.693147,0.693147,0.000000,0.000000,0.693147,1.098612
2123410,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,11.393060,6.291569,7.362011,3.988984,2.197225,5.257495,3.583519,7.677864,6.473891,7.336937
2123463,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.098612,1.386294,0.000000,0.693147,1.386294
2123468,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.079442,4.852030,4.158883,4.276666,4.969813,7.167038,6.643790,8.147867,6.931472,2.772589
2123711,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.609438,4.382027,3.871201,1.386294,0.000000,0.693147
2123727,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.075174,5.780744,7.860185,6.866933,8.147867,7.860185,5.257495,7.049255,13.053142,10.140297
2123747,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.693147,0.000000,0.693147,0.000000,0.693147
2123750,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,3.295837,7.783224,8.841014,12.465355,10.450452,8.435549
2123775,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.791759,2.484907,5.662960,7.090077,6.761573,9.574983,9.688312,6.674561,4.094345,6.356108
2123790,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.386294,1.098612,2.772589,0.693147,0.000000
2123791,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.098612,1.791759,0.000000,0.000000,0.000000,0.693147,2.772589,2.890372,2.772589,1.386294
2123839,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.639057,1.791759,9.400630
2123859,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.609438,3.295837,2.197225,2.302585,0.000000,1.791759
2123863,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.583519,4.682131,0.000000,0.000000,2.079442
2124052,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,31.842727,18.585897,23.102412,24.877883,58.212130,66.732340,65.260886,43.252318,29.747682,30.744595
2126842,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.079442,2.079442,3.583519,1.386294,1.791759
2126944,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.693147,0.693147,0.693147,1.386294
2127114,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,23.059908,14.046622,14.439436,15.014800,8.476371,8.253228,12.218495,15.509878,6.173786,9.336092

In [74]:
promo_2017_item = promo_2017.groupby('item_nbr')[promo_2017.columns].sum()

In [77]:
display (df_2017.head())
df_2017_store_class = df_2017.reset_index()
display (df_2017_store_class.head())

date                2017-01-01  2017-01-02  2017-01-03  2017-01-04  \
store_nbr item_nbr
1         96995            0.0    0.000000    0.000000    0.000000
          99197            0.0    0.000000    1.386294    0.693147
          103520           0.0    0.693147    1.098612    0.000000
          103665           0.0    0.000000    0.000000    1.386294
          105574           0.0    0.000000    1.791759    2.564949

date                2017-01-05  2017-01-06  2017-01-07  2017-01-08  \
store_nbr item_nbr
1         96995       0.000000    0.000000    0.000000    0.000000
          99197       0.693147    0.693147    1.098612    0.000000
          103520      1.098612    1.386294    0.693147    0.000000
          103665      1.098612    1.098612    0.693147    1.098612
          105574      2.302585    1.945910    1.609438    1.098612

date                2017-01-09  2017-01-10     ...      2017-08-06  \
store_nbr item_nbr                             ...
1         96995       0.000000    0.000000     ...        1.098612
          99197       0.000000    0.693147     ...        0.000000
          103520      0.693147    0.693147     ...        0.000000
          103665      0.000000    2.079442     ...        0.693147
          105574      1.386294    2.302585     ...        0.000000

date                2017-08-07  2017-08-08  2017-08-09  2017-08-10  \
store_nbr item_nbr
1         96995       1.098612    0.000000    0.000000    0.693147
          99197       1.098612    0.000000    1.098612    0.000000
          103520      0.000000    1.386294    0.000000    1.386294
          103665      1.098612    0.000000    2.079442    2.302585
          105574      1.791759    2.079442    1.945910    2.397895

date                2017-08-11  2017-08-12  2017-08-13  2017-08-14  2017-08-15
store_nbr item_nbr
1         96995       0.000000    0.000000    0.000000    0.000000    0.000000
          99197       0.000000    0.000000    0.000000    0.000000    0.000000
          103520      0.693147    0.693147    0.693147    0.000000    0.000000
          103665      1.098612    0.000000    0.000000    0.693147    0.693147
          105574      1.791759    1.791759    0.000000    1.386294    1.609438

[5 rows x 227 columns]

date,store_nbr,item_nbr,2017-01-01 00:00:00,2017-01-02 00:00:00,2017-01-03 00:00:00,2017-01-04 00:00:00,2017-01-05 00:00:00,2017-01-06 00:00:00,2017-01-07 00:00:00,2017-01-08 00:00:00,...,2017-08-06 00:00:00,2017-08-07 00:00:00,2017-08-08 00:00:00,2017-08-09 00:00:00,2017-08-10 00:00:00,2017-08-11 00:00:00,2017-08-12 00:00:00,2017-08-13 00:00:00,2017-08-14 00:00:00,2017-08-15 00:00:00
0,1,96995,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.098612,1.098612,0.000000,0.000000,0.693147,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,99197,0.0,0.000000,1.386294,0.693147,0.693147,0.693147,1.098612,0.000000,...,0.000000,1.098612,0.000000,1.098612,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,1,103520,0.0,0.693147,1.098612,0.000000,1.098612,1.386294,0.693147,0.000000,...,0.000000,0.000000,1.386294,0.000000,1.386294,0.693147,0.693147,0.693147,0.000000,0.000000
3,1,103665,0.0,0.000000,0.000000,1.386294,1.098612,1.098612,0.693147,1.098612,...,0.693147,1.098612,0.000000,2.079442,2.302585,1.098612,0.000000,0.000000,0.693147,0.693147
4,1,105574,0.0,0.000000,1.791759,2.564949,2.302585,1.945910,1.609438,1.098612,...,0.000000,1.791759,2.079442,1.945910,2.397895,1.791759,1.791759,0.000000,1.386294,1.609438

In [78]:
df_2017_store_class['class'] = items['class'].values
df_2017_store_class.head()

date,store_nbr,item_nbr,2017-01-01 00:00:00,2017-01-02 00:00:00,2017-01-03 00:00:00,2017-01-04 00:00:00,2017-01-05 00:00:00,2017-01-06 00:00:00,2017-01-07 00:00:00,2017-01-08 00:00:00,...,2017-08-07 00:00:00,2017-08-08 00:00:00,2017-08-09 00:00:00,2017-08-10 00:00:00,2017-08-11 00:00:00,2017-08-12 00:00:00,2017-08-13 00:00:00,2017-08-14 00:00:00,2017-08-15 00:00:00,class
0,1,96995,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.098612,0.000000,0.000000,0.693147,0.000000,0.000000,0.000000,0.000000,0.000000,1093
1,1,99197,0.0,0.000000,1.386294,0.693147,0.693147,0.693147,1.098612,0.000000,...,1.098612,0.000000,1.098612,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1067
2,1,103520,0.0,0.693147,1.098612,0.000000,1.098612,1.386294,0.693147,0.000000,...,0.000000,1.386294,0.000000,1.386294,0.693147,0.693147,0.693147,0.000000,0.000000,1028
3,1,103665,0.0,0.000000,0.000000,1.386294,1.098612,1.098612,0.693147,1.098612,...,1.098612,0.000000,2.079442,2.302585,1.098612,0.000000,0.000000,0.693147,0.693147,2712
4,1,105574,0.0,0.000000,1.791759,2.564949,2.302585,1.945910,1.609438,1.098612,...,1.791759,2.079442,1.945910,2.397895,1.791759,1.791759,0.000000,1.386294,1.609438,1045

In [80]:
df_2017_store_class_index = df_2017_store_class[['class','store_nbr']]
df_2017_store_class_index.head()

date  class  store_nbr
0      1093          1
1      1067          1
2      1028          1
3      2712          1
4      1045          1

In [81]:
df_2017_store_class = df_2017_store_class.groupby(['class','store_nbr'])[df_2017.columns].sum()

In [82]:
df_2017_store_class.head()

date             2017-01-01  2017-01-02  2017-01-03  2017-01-04  2017-01-05  \
class store_nbr
1002  1                 0.0    6.291569   11.901285    9.939627   12.817576
      2                 0.0   27.836761   21.942946   23.265525   20.405583
      3                 0.0   42.484074   29.286804   35.991684   29.124900
      4                 0.0   28.353452   21.278199   22.805993   20.207757
      5                 0.0   19.157935   15.744315   14.909440   12.177673

date             2017-01-06  2017-01-07  2017-01-08  2017-01-09  2017-01-10  \
class store_nbr
1002  1           10.961278   13.708549    7.454720   18.598319   12.322254
      2           23.207544   32.629193   33.057327   18.878450   24.403008
      3           31.628492   36.412191   32.819483   27.527092   26.893368
      4           19.822911   24.720218   31.524160   21.634874   17.617490
      5           12.765460   12.306750   14.427014   15.168951   12.465355

date                ...      2017-08-06  2017-08-07  2017-08-08  2017-08-09  \
class store_nbr     ...
1002  1             ...        6.068426   11.966952   13.458607   11.431281
      2             ...       28.459131   25.885741   22.351737   21.326989
      3             ...       38.142670   27.082659   30.859413   28.748667
      4             ...       26.304582   10.961278   17.278515   13.223041
      5             ...       12.647677   13.969433   11.901285   15.333254

date             2017-08-10  2017-08-11  2017-08-12  2017-08-13  2017-08-14  \
class store_nbr
1002  1           13.367622    5.545177   13.628506    5.375278   18.639141
      2           16.401095   26.828830   27.567914   25.059788   21.576931
      3           30.232542   36.638416   31.272846   32.256757   33.608285
      4           17.735273   19.822911   16.806560   23.187741   16.267563
      5           13.851650   10.332669   14.416963   15.538049   11.192390

date             2017-08-15
class store_nbr
1002  1           10.450452
      2           24.121024
      3           24.929109
      4           16.267563
      5           11.443704

[5 rows x 227 columns]

In [83]:
def get_timespan(df,dt,minus,periods, freq = 'D'):
    return df[pd.date_range(dt-timedelta(days = minus),periods = periods, freq = freq)]

In [ ]:
def prepare_dataset(df,promo_df, t2017, is_train=True, name_prefix = None):
    X = {
        'promo_14_2017':get_timespan(promo_df, t2017, 14, 14).sum(axis =1).values,
        'promo_60_2017':get_timespan(promo_df, t2017, 60, 60).sum(axis =1).values,
        'promo_140_2017':get_timespan(promo_df, t2017, 140, 140).sum(axis =1).values,
        'promo_3_2017_aft':get_timespan(promo_df, t2017+timedelta(days = 16),15,3).sum(axis=1).values,
        "promo_7_2017_aft":get_timespan(promo_df, t2017 + timedelta(days=16), 15, 7).sum(axis=1).values,
        "promo_14_2017_aft": get_timespan(promo_df, t2017 + timedelta(days=16), 15, 14).sum(axis=1).values,
    }
    
    for i in [3,7,14,30,60,140]:
        tmp = get_timespan(df, t2017, i, i)
        X['diff_%s_mean' % i] = tmp.diff(axis = 1).mean(axis =1).values
        X['mean_%s_decay' % i] = (tmp*np.power(0.9, np.arrange(i)[::-1])).sum(axis =1).values
        X['mean_%s'% i] = tmp.mean(axis =1).values
        X['median_%s' %i] = tmp.median(axis =1).values
        X['min_%s' %i] = tmp.min(axis =1).values
        X['max_%s' %i] = tmp.max(axis =1).values
        X['std_%s' %i] = tmp.std(axis =1).values
        
    for i in [3,7,14,30,60,140]:
        tmp = get_timespan(df, t2017+timedelta(days = -7, i, i)
        X['diff_%s_mean_2' % i] = tmp.diff(axis = 1).mean(axis =1).values
        X['mean_%s_decay_2' % i] = (tmp*np.power(0.9, np.arrange(i)[::-1])).sum(axis =1).values
        X['mean_%s_2'% i] = tmp.mean(axis =1).values
        X['median_%s_2' %i] = tmp.median(axis =1).values
        X['min_%s_2' %i] = tmp.min(axis =1).values
        X['max_%s_2' %i] = tmp.max(axis =1).values
        X['std_%s_2' %i] = tmp.std(axis =1).values